- modal ||= false
- remote =  modal ? true : false

#message-form
= simple_form_for(@message, remote: true, url: messages_path(@message, role: :form, 'data-model' => 'message')) do |f|                                              
  = f.error_notification
  .form-inputs
    .form-group.col-md-6.col-md-offset-3
      = f.input :title, wrapper: :vertical_input_group do
        = f.input_field :title, class: "form-control"
    .form-group.col-md-6.col-md-offset-3
      = f.input :content, wrapper: :vertical_input_group do
        = f.input_field :content, class: "form-control"
  .form-actions.col-md-3.col-md-offset-3
    = f.button :submit, class: "btn btn-primary"
