/ AJAX message
- modal ||= false
- remote =  modal ? true : false

#message-form
= simple_form_for(@message, :url => @message.new_record? ? url_for(action: 'create', controller: 'messages') : url_for(action: 'update', controller: 'messages')) do |f|         
  = f.error_notification
  .form-inputs
    .form-group.col-md-8.col-md-offset-2
      = f.input :title, wrapper: :vertical_input_group do
        = f.input_field :title, class: "form-control"
        %span.help-block
    .form-group.col-md-8.col-md-offset-2
      = f.input :content, wrapper: :vertical_input_group do
        = f.input_field :content, class: "form-control"
        %span.help-block
  .form-actions.col-md-8.col-md-offset-2
    = f.button :submit, class: "btn btn-primary"
