#show-wrapper
  %h1#msg-hdr.text-center.msg-board-hdr= render partial: 'show_title', locals: {msg: @message}
.col-md-8.col-md-offset-2
  %p#msg-content.msg= render partial: 'show_content', locals: {msg: @message}
  -if current_user && current_user.id == @message.user_id
    = link_to "Edit", '#edit_message_modal', 'data-toggle' => "modal",  class: "btn btn-primary"
    = link_to 'Delete', @message, remote: true, :method => :delete, data: {confirm: "Delete message: #{@message.title} "}, :class => 'btn btn-sm btn-danger'
  = link_to "Home", messages_path, class: "btn btn-primary" 
  %h2 Comments
  #comments
    = render @message.comments.order("created_at ASC")

  #edit_message_modal.modal.fade.col-md-6.col-md-offset-3( tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" )
    .modal-dialogue(role="document")
      .modal-content
        .modal-header
          %button.close(type="button" data-dismiss="modal" aria-hidden="true") &times; 
          %h4#myModalLabel.modal-title Edit Message
        .modal-body
          = render 'form', modal: true
        .modal-footer
 
  #new_comment_modal.modal.fade.col-md-6.col-md-offset-3( tabindex="-1" role="dialog" aria-labelledby="myCommentLabel" aria-hidden="true"  )
    .modal-dialogue(role="document")
      .modal-content
        .modal-header
          %button.close(type="button" data-dismiss="modal" aria-hidden="true") &times; 
          %h4#myCommentLabel.modal-title Create a New Comment
        .modal-body
          = render 'comments/form', modal: true
        .modal-footer


:javascript
  // Bind click to OK button within popup
  $('#confirm-delete').on('click', '.btn-ok', function(e) {
    var $modalDiv = $(e.delegateTarget);
      var id = $(this).data('recordId');
        $modalDiv.addClass('loading');
          $.post('/messages/' + id).then(function() {
            $modalDiv.modal('hide').removeClass('loading');
          });
    });
  // Bind to modal opening to set necessary data properties to be used to make request
  $('#confirm-delete').on('show.bs.modal', function(e) {
    var data = $(e.relatedTarget).data();
      $('.title', this).text(data.recordTitle);
        $('.btn-ok', this).data('recordId', data.recordId);
  });
