#show-wrapper
  %h1#msg-hdr.text-center.msg-board-hdr= render partial: 'show_title', locals: {msg: @message}
  .col-xs-12.col-md-8.col-md-offset-2
    %p#msg-content.msg= render partial: 'show_content', locals: {msg: @message}
    -if current_user && current_user.id == @message.user_id
      .col-md-8.col-xs-10.text-right
      = link_to "Edit", '#edit_message_modal', 'data-toggle' => "modal",  class: "btn btn-primary"
      = link_to 'Delete', @message, remote: true, :method => :delete, data: {confirm: "Delete message: #{@message.title} "}, :class => 'btn btn-sm btn-danger'
      = link_to "Home", messages_path, class: "btn btn-primary" 
    -else
      .col-md-12.text-right
        = link_to "Home", messages_path, class: "btn btn-primary" 

  -if @message.comments.present?
    .col-xs-12.col-md-8.col-md-offset-2
      %h2 Comments
    #comments.col-md-8.col-md-offset-2.col-xs-12
      = render @message.comments.order("created_at ASC")

  #edit_message_modal.modal.fade.col-md-6.col-md-offset-3( tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" )
    .modal-dialogue(role="document")
      .modal-content
        .modal-header
          %button.close(type="button" data-dismiss="modal" aria-hidden="true") &times; 
          %h4#myModalLabel.modal-title Edit Message
        .modal-body
          = render 'form', modal: true
        .modal-footer

  #new_comment_modal.modal.fade.col-md-6.col-md-offset-3( tabindex="-1" role="dialog" aria-labelledby="myCommentLabel" aria-hidden="true"  )
    .modal-dialogue(role="document")
      .modal-content
        .modal-header
          %button.close(type="button" data-dismiss="modal" aria-hidden="true") &times; 
          %h4#myCommentLabel.modal-title Create a New Comment
        .modal-body
          = render 'comments/form', modal: true
        .modal-footer
