!!!
%html
  %head
    %title MessageBoard
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #page
      %header.container
        #menu.navbar.navbar-default
          .navbar-header
            %button.btn.btn-success.navbar-toggle{ data:{ toggle: 'collapse', target: '.navbar-collapse' }}
              %span.glyphicon.glyphicon-chevron-down
              #logo
                %a{href: '.'}
                  %h4 PugetSoundSalmon
          .navbar-collapse.collapse 
            %ul.nav.navbar-nav.navbar-right
              - if user_signed_in?
                %li.nav.active= link_to 'New Message', new_message_path
                %li.nav= link_to 'Logout', destroy_user_session_path, method: :delete
              - else
                %li.nav= link_to "Sign In", new_user_session_path 
                %li.nav= link_to "Sign Up", new_user_registration_path
          
    - if notice
      %p.notice.alert.alert-success= notice
    - if alert
      %p.alert.alert-info= alert
    %section#body.container
      = yield
