!!!
%html
  %head
    %title MessageBoard
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = javascript_include_tag 'http://127.0.0.1:9001/js/socket.js'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Cinzel:400,700|Raleway:400,700,900'
    = csrf_meta_tags
    -# :javascript
    -#   window.__BL_OVERRIDE_CACHE = true
  %body#body
    #page
      %header.container-fluid
        #menu.navbar.navbar-default.navbar-fixed-top
          .navbar-header
            %button.btn.btn-success.navbar-toggle{ data:{ toggle: 'collapse', target: '.navbar-collapse' }}
              %span.glyphicon.glyphicon-menu-hamburger
            #logo
              %h4= link_to 'PugetSoundSalmon', root_path
          .navbar-collapse.collapse 
            %ul.nav.navbar-nav.navbar-right
              - if user_signed_in? 
                %li.nav= link_to 'Logout', destroy_user_session_path, method: :delete
                - if  (current_page?(root_path) || current_page?(messages_path))  
                  %li.nav= link_to "New Msg", '#new_message_modal', id: 'new-msg-link', 'data-toggle':  "modal"
                - unless (current_page?(root_path) || current_page?(messages_path))
                  %li.nav= link_to  "New Comment", '#new_comment_modal', 'data-toggle' => "modal"
              - else
                %li.nav= link_to "Sign In", '#login_modal', 'data-toggle' => "modal"
                %li.nav= link_to "Sign Up", new_user_registration_path
          
      #new_message_modal.modal.fade.col-md-6.col-md-offset-3( tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" )
        .modal-dialogue(role="document")
          .modal-content
            .modal-header
              %button.close(type="button" data-dismiss="modal" id="close-btn-msg" aria-hidden="true") &times; 
              %h4#myModalLabel.modal-title Create a New Message
            .modal-body
              = render 'form', modal: true
            .modal-footer
    -if !user_signed_in?
      #login_modal.modal.fade.col-md-6.col-md-offset-3( tabindex="-1" role="dialog" aria-labelledby="myModalSignin"  aria-hidden="true"  )
        .modal-dialogue(role="document")
          .modal-content
            .modal-header
              %button.close{"data-dismiss" => "modal"} ×
              %h4#myModalSignin.modal-title Sign In
              #error_explanation
            .modal-body
              = simple_form_for(:user, :url => session_path(:user)) do |f|
                .inputs
                  = f.input :email, :required => true, :autofocus => true
                  = f.input :password, :required => true
                .modal-footer
                  = f.button :submit,  'Submit', :class => 'btn btn-primary'
                  = link_to "Forgot your password?", new_password_path(:user)
    #header-img
      .container-fluid.col-md-12.col-xs-12.hdr-image
        = image_tag "steelhead.jpg", class: 'img-responsive'
    - if notice
      %p.notice.alert.alert-success= notice
    - if alert
      %p.alert.alert-info= alert
    - if user_signed_in?

      = yield
